<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
 
  	<typeAliases>
 		<typeAlias alias="member" type="member.bean.MemberDTO" />
 		<typeAlias alias="zipcode" type="member.bean.ZipcodeDTO"/>
 		<typeAlias alias="board" type="board.bean.BoardDTO"/>
 		<typeAlias alias="imageboard" type="imageboard.bean.ImageboardDTO"/>
 		
  	</typeAliases>

 </configuration>